<h1>コメント編集</h1>

<%= form_with model: [@comment.book, @comment] ,method: :patch do |f| %>
  <h4>コメント</h4>
  <%= f.text_area :comment %>

  <%= f.submit "保存" %>
<% end %>
<br>
<%= link_to book_path(@comment.book.id) do %>
  <button type="button" class="btn btn-outline-primary">戻る</button>
<% end %>
