<h1>ユーザー一覧</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>プロフィール画像</th>
      <th>紹介文</th>
    </tr>
  </thead>
  <% @user.each do |user| %>
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(user.id) do %>
          <%= user.name %>
        <% end %>
      </td>
      <td><%= image_tag user.get_image(100,100) %></td>
      <td><%= user.introduction %></td>
    </tr>
  </tbody>
  <% end %>
</table>